<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.integrationguide">

    <uses-permission android:name="com.airwatch.sdk.BROADCAST" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".AWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_roundicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:allowBackup">

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.SDKProfileActivity" />

        <receiver
            android:name="com.airwatch.sdk.AirWatchSDKBroadcastReceiver"
            android:permission="com.airwatch.sdk.BROADCAST"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.airwatchsdk.BROADCAST" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.airwatch.intent.action.APPLICATION_CONFIGURATION_CHANGED" />

                <data
                    android:host="${applicationId}"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.integrationguide.logs.LoggerService" />

        <activity
            android:name=".ProxyTestActivity"
            android:label="@string/tunnel"/>

        <activity
            android:name="com.airwatch.gateway.ui.GatewaySplashActivity"
            android:label="@string/app_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>