# Copyright 2020 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause

# That macOS file it puts everywhere.
.DS_Store
.github

# Back-up and temporary files created by diagrams.net tool that sometimes aren't deleted.
*.svg.bkp
*.svg.dtmp

