/*
 * Copyright (c) 2025 Omnissa, LLC. All rights reserved.
 * This product is protected by copyright and intellectual property laws in the
 * United States and other countries as well as by international treaties.
 * -- Omnissa Public
 */

*.iml
.gradle
/local.properties
/.idea/
/captures
.externalNativeBuild
.cxx

/build/
/*/build/
